.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/FSI.FinancePersonal.FrontEnd/CopilotIndices/17.14.995.13737/CodeChunks.db
.vs/FSI.FinancePersonal.FrontEnd/CopilotIndices/17.14.995.13737/SemanticSymbols.db
.vs/FSI.FinancePersonal.FrontEnd/v17/.wsuo
.vs/FSI.FinancePersonal.FrontEnd/v17/DocumentLayout.backup.json
.vs/FSI.FinancePersonal.FrontEnd/v17/DocumentLayout.json
